* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  box-sizing: border-box;
  color: #4b4453;
}

input,
button {
  outline: none;
  border: none;
  background-color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  transition: color 0.2s;
}

a:hover {
  color: #07d325;
  transition: color 0.2s;
}

main {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #07d325;
}

.container {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  box-shadow: -1px 6px 22.5px -8px #dddddd;
}

.header .container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 0 35px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.header .logo img {
  width: 50px;
  height: 50px;
}

.header .logo span {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #07d325;
}

.header .favorite,
.header .basket,
.header .user {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.header .favorite img,
.header .basket img,
.header .user img,
.header .service img {
  width: 25px;
  height: 25px;
}

.header .favorite span,
.header .basket span {
  font-size: 10px;
  width: 17px;
  height: 17px;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
}

.header .favorite.active span,
.header .basket.active span {
  display: block;
}

.header .service a {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.header .service a:hover {
  border-color: #07d325;
  transition: border-color 0.2s;
}

.header .service span {
  margin-top: 2px;
}

.header .row {
  display: flex;
  gap: 0 20px;
  align-items: center;
}

.header .links {
  display: flex;
  justify-content: center;
  gap: 0 25px;
}

.header .links .link {
  font-size: 18px;
  transition: color 0.2s;
}

.header .links .link:hover {
  color: #07d325;
  transition: color 0.2s;
}

.header .search .search-trigger {
  padding: 8px 10px;
  border-radius: 5px;
  transition: border-color 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header .search .search-trigger:hover {
  border-color: #07d325;
  transition: color 0.2s;
}

.header .search .search-form {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  display: none;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content;
  width: 60%;
  margin: 0 auto;
  z-index: 15;
}

.header .search .search-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 15;
}

.header .search .search-form * {
  position: relative;
  z-index: 10;
}

.header .search .search-form .search-input {
  background-color: #fff;
  padding: 20px;
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header .search .search-form .search-btn {
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

.header .search .search-form .search-btn img {
  width: 30px;
  height: 30px;
}

.header .search .search-form .search-list {
  grid-column: 1 / 3;
  width: 100%;
  height: max-content;
  max-height: 250px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  grid-template-columns: 1fr;
  gap: 20px 0;
  display: none;
}

.header .search .search-form .search-list h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.header .search .search-form .search-list h4 {
  font-weight: 500;
  font-size: 20px;
}

.header .search .search-form .search-list li:not(:nth-of-type(1)) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.header .search .search-form .search-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title price' 'manufacturer price-discounted';
  align-items: center;
  gap: 5px;
}

.header .search .search-form .search-link .manufacturer {
  font-size: 13px;
  grid-area: manufacturer;
}

.header .search .search-form .search-link .title {
  font-size: 20px;
  grid-area: title;
  transition: color 0.2s;
}

.header .search .search-form .search-link .price {
  font-size: 16px;
  grid-area: price;
  justify-self: end;
}

.header .search .search-form .search-link:hover .title {
  color: #07d325;
  transition: color 0.2s;
}

.header .search .search-form .search-link .price-discounted {
  grid-area: price-discounted;
  justify-self: end;
}

.header .search .search-form .search-link .price span,
.header .search .search-form .search-link .price-discounted span {
  font-size: 18px;
  color: red;
}

.header .search .search-form .search-link.discounted .price {
  text-decoration-line: line-through;
  opacity: 0.3;
}

.header .search .search-form .search-list.active {
  display: grid;
}

.header .search.active .search-form {
  display: grid;
}

.header .search.active .search-bg {
  display: block;
}

.title {
  font-size: 42px;
  font-weight: 500;
  gap: 0 40px;
  display: flex;
  align-items: center;
}

.title a {
  font-size: 16px;
  text-decoration: underline;
  color: #4b4453;
  display: flex;
  align-items: center;
  gap: 0 15px;
  letter-spacing: 0.5px;
  transition: gap 0.1s, color 0.1s;
}

.title a:hover {
  color: #07d325;
  gap: 0 25px;
  transition: gap 0.1s, color 0.1s;
}

.title a img {
  width: 25px;
  height: 25px;
}

.home .home-swiper {
  margin-bottom: 70px;
}

.home .home-swiper .swiper-slide img {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

.home .home-swiper .swiper-slide {
  display: grid;
  grid-template-columns: 0.95fr;
  justify-content: center;
}

.home .home-swiper .swiper-button-next,
.home .home-swiper .swiper-button-prev {
  color: #07d325;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.home .home-swiper .swiper-button-next:after,
.home .home-swiper .swiper-button-prev:after {
  font-size: 20px;
}

.home .discounted-products .title {
  margin-bottom: 40px;
}

.home .discounted-products {
  display: none;
}

.home .discounted-products.active {
  display: block;
}

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */
/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */
/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: border-color 0.2s;
  position: relative;
  padding: 15px;
  gap: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'image image' 'title title' 'manufacturer manufacturer' 'stock stock' 'quantity quantity' 'price btn';
  align-items: center;
}

.product-card:hover {
  border-color: rgba(7, 211, 37, 0.3);
  transition: border-color 0.2s;
}

.product-card .card-favorite {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.product-card .card-favorite path {
  fill: rgba(0, 0, 0, 0.2);
}

.product-card .card-favorite.active path {
  fill: #fd0;
}

.product-card .card-image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  grid-area: image;
}

.product-card .card-title {
  font-size: 17px;
  font-weight: 600;
  grid-area: title;
  margin-bottom: 25px;
}

.product-card .card-manufacturer {
  grid-area: manufacturer;
  font-size: 15px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.2);
}

.product-card .card-stock {
  grid-area: stock;
  font-size: 15px;
  margin-bottom: 10px;
  color: #07d325;
}

.product-card .card-stock.active {
  color: #de1d09;
}

.product-card .card-quantity {
  grid-area: quantity;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-card .card-quantity span {
  color: #07d325;
}

.product-card .card-quantity.active,
.product-card .card-quantity.active span {
  color: #de1d09;
}
.product-card .card-price {
  grid-area: price;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.product-card .card-price.active {
  grid-template-columns: max-content 1fr;
}

.product-card .card-price.active .text {
  grid-column: 1 / 3;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.product-card .card-price .price,
.product-card .card-price .discounted {
  font-size: 17px;
  font-weight: 600;
}
.product-card .card-price .discounted {
  color: #de1d09;
}

.product-card .card-price.active .price {
  text-decoration-line: line-through;
  opacity: 0.3;
}

.product-card .card-btn {
  grid-area: btn;
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 0 10px;
  font-size: 15px;
  transition: border-color 0.2s;
  justify-self: end;
}

.product-card .card-btn:hover {
  border-color: #07d325;
  transition: border-color 0.2s;
}

.product-card .card-btn img {
  width: 20px;
  height: 20px;
}
